@font-face {
  font-family: 'Verdana';
  src: url(../../../verdana.ttf);
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  float: right;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
}

.fa {
  padding: 5px;
}

button {
  background: transparent;
  border: none;
  color: #fff;
}

#sval {
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
}

.cartlenval {
  font-size: 15px;
    padding: -3px;
    background: red;
    border-radius: 50%;
    width: 23px;
    position: absolute;
    right: 5px;
    top: 8px;
    padding-bottom: 5px;
    padding: -7px;
    height: 22px;
    text-align: center;
}



